# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Dataset files (if you want to exclude large datasets)
data/

# Model files (if you want to exclude large model files)
saved_model/
